#button1 {
    -fx-font-size: 20px;
    -fx-background-color: rgba(0,150,150,1);
    -fx-padding: 5 5 5 5 ;
    -fx-font-weight: bold;
    -fx-text-fill: green;
    -fx-graphic: url("image/option1.png");
}
#Option {
    -fx-graphic: url("image/option1.png");
}

#Translate {
    -fx-graphic: url("image/translate.png");
}

#Search {
    -fx-graphic: url("image/search.png");
}

#Home {
    -fx-graphic: url("image/home.png");
}

#background {
    -fx-background-image: url("image/background1.jpg");
}

#background2 {
    -fx-background-image: url("image/background2.jpg");
}