#game_cardMatchingGameButton {
    -fx-graphic: url("image/cardMatchingGame.png");
    -fx-font-weight: bold;
    -fx-font-family: 'Times New Roman';
    -fx-background-color: rgba(255,127,80, 0.7);
    -fx-font-size: 18;
    -fx-background-radius: 22;
    -fx-alignment: center;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 20;

    -fx-translate-x: 50%;
    -fx-translate-y: 50%;
    -fx-alignment: center;
}

#game_HangmanGameButton {
    -fx-graphic: url("image/hangman.png");
    -fx-font-weight: bold;
    -fx-font-family: 'Times New Roman';
    -fx-background-color: rgba(255,127,80, 0.7);
    -fx-font-size: 18;
    -fx-background-radius: 22;
    -fx-alignment: center;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 20;
}

#game_HangmanGameButton:hover {
    -fx-background-color: rgba(0,255,255, 0.7);
}
#game_HangmanGameButton:pressed {
    -fx-background-color: rgba(0,0,255, 0.7);
    -fx-border-color: black;
    -fx-rotate: 7;
}

#game_cardMatchingGameButton:hover {
    -fx-background-color: rgba(0,255,255, 0.7);
}
#game_cardMatchingGameButton:pressed {
    -fx-background-color: rgba(0,0,255, 0.7);
    -fx-border-color: black;
    -fx-rotate: 7;
}
